<?xml version="1.0"?>

<beans:beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:beans="http://www.springframework.org/schema/beans" 
xmlns="http://www.springframework.org/schema/security">

<!-- enable use-expressions -->

<http use-expressions="true" auto-config="true">

<intercept-url access="hasRole('ROLE_ADMIN')" pattern="/admin**"/>

<!-- access denied page -->


<access-denied-handler error-page="/403"/>

<form-login 
username-parameter="id" 
authentication-failure-url="/login?error" 
default-target-url="/hello" 
login-page="/login"/>

<logout logout-success-url="/login?logout"/>

<!-- enable csrf protection -->

<csrf/>

</http>

<!-- Select users and user_roles from database -->

<authentication-manager>

<authentication-provider>

<jdbc-user-service 
authorities-by-username-query="select users.id from users where users.id ="
users-by-username-query="select users.id,role_role from users inner join user_role on users.id=user_role.id where users.id =?" 
data-source-ref="dataSource"/>

</authentication-provider>

</authentication-manager>

</beans:beans>